<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Weird smoke up your butt thing</string>
		<key>description</key>
		<string>If they thought you&apos;d drowned they gave you a *very* direct hit of nicotine</string>
		<key>year</key>
		<string>1781</string>
		<key>imagePath</key>
		<string>A449Front_256.png</string>
		<key>categories</key>
		<array>
			<string>18th Century</string>
			<string>Medical Tools</string>
			<string>Butts</string>
			<string>Cool</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Box of Penises</string>
		<key>description</key>
		<string>Because of course we have one</string>
		<key>year</key>
		<string>1983</string>
		<key>imagePath</key>
		<string>K69Front_256.png</string>
		<key>categories</key>
		<array>
			<string>20th Century</string>
			<string>Human Remains</string>
			<string>Cool</string>
		</array>
	</dict>
</array>
</plist>
